/config.local.php

/system/cache/*
!/system/cache/index.html
!/system/cache/persistent/
!/system/cache/plugins/
!/system/cache/signatures/
!/system/cache/twig/

/system/cache/persistent/*
!/system/cache/persistent/index.html

/system/cache/twig/*
!/system/cache/twig/index.html

/system/logs/*
!/system/logs/index.html

/system/php_sessions/*
!/system/php_sessions/index.html